button {
  padding: 20px;
  margin: 5px;
  float: left;
}

textarea {
  margin: 5px;
  resize: none;
  height: 30px;
  width: 225px;
}

.btn {
  color: white;
  background-color: red;
}

gif {
  height: 100px;
  width: 100px;
}

body {
  background-color: rgba(211,211,211);
}

#images1 {
  width: 100%;
  position: absolute;
  color: green;
  border: 5px;
  margin: 5px;
}


#images2 {
  width: 100%;
  margin: 5px;
  position: absolute;
  color: green;
  border: 5px;
}


#images3 {
  width: 100%;
  position: absolute;
  color: green;
  border: 5px;
  margin: 5px;
}


#images4 {
  width: 100%;
  position: absolute;
  color: green;
  border: 5px;
  margin: 5px;
}

#images5 {
  width: 100%;
  position: absolute;
  color: green;
  border: 5px;
  margin: 5px;
}

#images6 {
  width: 100%;
  position: absolute;
  color: green;
  border: 5px;
  margin: 5px;
}

#images7 {
  width: 100%;
  position: absolute;
  color: green;
  border: 5px;
  margin: 5px;
}

#images8 {
  width: 100%;
  position: absolute;
  color: green;
  border: 5px;
  margin: 5px;
}

img {
  width: 100% !important;
  border-radius: 8px;
  float: left;
  margin-bottom: 10px !important;
  position: relative;
  border-style: solid;
}


.container {
  width: 100%;
  float: left;

}

.col-md {
  width: 100%;
}

.navbar {
  background-color: blue;
}

// Extra small devices (portrait phones, less than 576px)
// No media query for `xs` since this is the default in Bootstrap

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }
